.link{
            /*width: 500px;*/
            /*height: 150px;*/
            /*border-radius: 0px;*/
            /*border: 1px solid var(--bs-blue);*/
            display: inline-flex;
            text-align: center;
            justify-self: center;
            line-height: 1.5;
            padding: 0.5rem 1rem;
            margin: 0.5rem;
            width: 15rem;
            transition: 0.2s;
            color: var(--primary-color, #000);
            border: 1px solid var(--primary-color, #808080);
            --primary-color: #0078e7;
        }
        .url{
           
            padding-left: 0.6rem;
        }
        .avatar{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid var(--primary-color, #808080);
            transition: 0.5s;
        }
        a:hover{
          text-decoration:none;
        }